<%- include("header") -%>
<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis consectetur maiores repellat tenetur, saepe quae eos praesentium voluptates aperiam, culpa consequuntur rerum animi dignissimos veniam similique, numquam maxime natus odit?</h2>
<%- include("footer") -%>